.movie_details-container {
  width: 100vw;
  height: 100vh;
}

.movie_details-flow {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.movie_details-desc {
  color: rgb(255, 255, 255);
  max-width: 550px;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 15px;

  margin-left: 15px;
}

.movie_details-link-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  /* background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px); */

  margin-left: 15px;
}

.movie_details-link {
  color: rgb(170, 243, 102);
  text-decoration: none;
  font-size: 16px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie_details-link:hover {
  transform: scale(1.1);
}

.go-back-btn {
  margin-left: auto;
  border-radius: 15px;
  background-color: inherit;
  border: none;
  backdrop-filter: blur(10px);
  color: rgb(61, 253, 253);
  margin-right: 15px;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}
