.movie_review-sheet {
  height: 360px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  color: aliceblue;

  padding-right: 40px;
}

.movie_review-item {
  list-style: none;
}

.movie_review-sheet::-webkit-scrollbar {
  display: none;
}

.movie_review-sheet {
  -ms-overflow-style: none;
  scrollbar-width: 1px;
}
